{% extends 'base_layout.html' %}


{% block content %}

    {% if message %}
        <h2> {{ message }}</h2>
    {% endif %}

    {% comment %} you will not forbiden {% endcomment %}
    {{ block.super }}

    <form method="post" class="form-inline">
        {% csrf_token %}
        <div class="form-group">
           <label>name </label>
           <input type="text" class='form-control' name="name"/>
        </div>

        <div class="form-group">
            <label>money</label>
            <input type="number" class='form-control' name="money"/>
        </div>

        <button type="submit" class="btn btn-default">Post</button>
    </form>

{% endblock %}
